body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4e1ff;
    color: #5e3a8c;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background-color: #c8aaff;
    padding: 20px;
    margin: 0;
    font-size: 40px;
    font-weight: 200;
}

nav{
    background-color: rgb(218, 195, 255);
    margin: 0;
    padding: 0;
}

nav ul{
    margin: 0;
    padding: 5px 0;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    color: #5e3a8c;
    font-weight: bold;
}

.descricao{
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 22px;
    padding: 20px;
    margin: 0 100px;
    margin-top: 80px;
}

.descricao img{
    max-width: 300px;
    border-radius: 8px;
    margin-right: 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.paragrafos{
    display: block;
}

a,
a:focus,
a:active,
a:visited{
    color: #5e3a8c;
    text-decoration: none;
}

a:hover{
    color: #9c64ff;
}


form{
    background-color: #e8d5ff;
    padding: 5px;
    margin: 30px auto;
    width: 20%;
    border: 2px solid #b388ff;
    border-radius: 15px;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, textarea{
    width: 90%;
    padding: 8px;
    border: 2px solid #b388ff;
    border-radius: 10px;
    background-color: #faf5ff;
    margin-bottom: 15px
    
}

textarea{
    height: 100px;
}

input:focus, textarea:focus{

    outline: none;
    border-color:#5e3a8c
}

button{
    background-color: #b388ff;
    color: white;
    border: none;
    padding: 8px 18px;
    margin-top: 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #9c64ff;
}

.conteudo-extra{
    background-color: #f4e1ff;
    color: #5e3a8c;
    margin: 50px auto 100px;
    padding: 30px;
    max-width: 800px;
    text-align: center;
    border-top: 2px solid #b388ff;
    font-size: 20px;
}

.conteudo-extra h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.conteudo-extra ul{
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.conteudo-extra ul li{
    margin: 10px 0;
    font-weight: 500;
    font-size: 22px;
}

footer{
    background-color: #c8aaff;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 15px rgba(94, 58, 140, 0.2);
  }

  .footer-content{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .social-links{
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .social-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(1.5);
  }

  footer p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #5e3a8c;
  }